<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title><%= article.meta["title"] %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
</head>
<body>
  <header>
    <img src="https://avatars.githubusercontent.com/u/625089" />
    <a href="/">
      <h1>Robson Perassoli</h1>
      <h2>Software Engineer</h2>
    </a>
    <nav>
        <a href="https://github.com/robsonperassoli" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/robsonperassoli/" target="_blank">LinkedIn</a>
        <a href="/dev">/dev</a>
    </nav>
  </header>

  <article class="markdown">
    <%= article.html %>
  </article>
</body>
</html>
