<html>
<head>
    <title><%= article.meta["title"] %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
</head>
<body>
  <header>
    <img src="https://avatars.githubusercontent.com/u/625089" />
    <div>
      <h1>Robson Perassoli</h1>
      <p>Software Engineer</p>
    </div>
  </header>

  <article class="markdown">
    <%= article.html %>
  </article>
</body>
</html>
